<canvas #game width="640" height="480" style="border: 1px solid black"></canvas>
<p>
    <button type="button"
    class="inline-flex items-center justify-center rounded-lg px-4 py-3 transition duration-500 ease-in-out text-white bg-blue-500 hover:bg-blue-400 focus:outline-none" (click)="move('right')">Right</button>
    <button type="button"
    class="inline-flex items-center justify-center rounded-lg px-4 py-3 transition duration-500 ease-in-out text-white bg-blue-500 hover:bg-blue-400 focus:outline-none" (click)="move('left')">Left</button>
    <button type="button"
    class="inline-flex items-center justify-center rounded-lg px-4 py-3 transition duration-500 ease-in-out text-white bg-blue-500 hover:bg-blue-400 focus:outline-none" (click)="move('up')">Up</button>
    <button type="button"
    class="inline-flex items-center justify-center rounded-lg px-4 py-3 transition duration-500 ease-in-out text-white bg-blue-500 hover:bg-blue-400 focus:outline-none" (click)="move('down')">Down</button>
</p>